.blobButton {
    z-index: 1;
    position: relative;
    padding: 20px 46px;
    text-align: center;
    text-transform: uppercase;
    color: #FB8C00;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 14px;
}

.blobButton:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #FB8C00;
    border-radius: 14px;
}

.blobButton:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 14px;
}

.blobButton:hover {
    color: #FFFFFF;
    border-radius: 14px;
}

.blobButton:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 14px;
}

.blobButtonInner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background: #ffffff;
}

.blobButtonBlobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
}

.blobButtonBlob {
    position: absolute;
    top: 2px;
    width: 25%;
    height: 100%;
    background: #FB8C00;
    border-radius: 14px;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
}

.blobButtonBlob:nth-child(1) {
    left: 0%;
    transition-delay: 0s;
}

.blobButtonBlob:nth-child(2) {
    left: 30%;
    transition-delay: 0.08s;
}

.blobButtonBlob:nth-child(3) {
    left: 60%;
    transition-delay: 0.16s;
}

.blobButtonBlob:nth-child(4) {
    left: 90%;
    transition-delay: 0.24s;
}

.blobButton:hover .blobButtonBlob {
    transform: translateZ(0) scale(1.7);
}